
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title><%= customer.name %></title>
</head>

<body>
  <h1><%= customer.name %></h1>
  <p>Current Balance: <%= customer.currentBalance %></p>
  <a href="/transfer">Transfer Money</a>
  <a href="/customers">Go back to Customers</a>
</body>
</html>